ARCHS = arm64
CLANG_CXX_LANGUAGE_STANDARD = gnu++20
CLANG_ENABLE_OBJC_ARC = YES
BUILD_LIBRARY_FOR_DISTRIBUTION = YES
CODE_SIGNING_ALLOWED = NO
DEFINES_MODULE = YES
DYLIB_INSTALL_NAME_BASE = @rpath
GENERATE_INFOPLIST_FILE = YES
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
MACOSX_DEPLOYMENT_TARGET = 15.0
XROS_DEPLOYMENT_TARGET = 26.0
SUPPORTED_PLATFORMS = macosx xros xrsimulator
SWIFT_VERSION = 6.0
SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone
SWIFT_INSTALL_OBJC_HEADER = NO
SWIFT_INSTALL_MODULE = YES
PRODUCT_BUNDLE_IDENTIFIER = org.godotengine.GodotVisionOS
PRODUCT_NAME = GodotVisionOS
MODULEMAP_FILE = $(PROJECT_DIR)/GodotVisionOS.modulemap
GODOT_CPP_DIR = $(GODOT_CPP_ROOT)
HEADER_SEARCH_PATHS = $(GODOT_CPP_DIR)/include $(GODOT_CPP_DIR)/gen/include $(GODOT_CPP_DIR)/gdextension
LIBRARY_SEARCH_PATHS = $(GODOT_CPP_DIR)/bin
GODOT_CPP_MACOS_LIB = godot-cpp.macos.editor.universal
GODOT_CPP_VISIONOS_LIB = godot-cpp.visionos.template_debug.arm64
GODOT_CPP_SIMULATOR_LIB = godot-cpp.visionos.template_debug.arm64.simulator
OTHER_LDFLAGS[sdk=macosx*] = -l$(GODOT_CPP_MACOS_LIB)
OTHER_LDFLAGS[sdk=xros*] = -l$(GODOT_CPP_VISIONOS_LIB)
OTHER_LDFLAGS[sdk=xrsimulator*] = -l$(GODOT_CPP_SIMULATOR_LIB)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks
SKIP_INSTALL = NO
