// Build settings for the GodotRealityKit framework target.
// Project-level settings come from Config.xcconfig (applied automatically).

BUILD_LIBRARY_FOR_DISTRIBUTION = YES
COMBINE_HIDPI_IMAGES = YES
DEFINES_MODULE = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
ENABLE_MODULE_VERIFIER = YES


HEADER_SEARCH_PATHS = $(SRCROOT)/../deps/godot-cpp/include $(SRCROOT)/../deps/godot-cpp/gen/include $(SRCROOT)/../deps/godot-cpp/gdextension $(PROJECT_DIR) $(BUILT_PRODUCTS_DIR)/GodotRealityKit.framework/Headers

INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks

MODULEMAP_FILE = $(PROJECT_DIR)/GodotRealityKit.modulemap
MODULE_VERIFIER_SUPPORTED_LANGUAGES = objective-c objective-c++
MODULE_VERIFIER_SUPPORTED_LANGUAGE_STANDARDS = gnu17 gnu++20

OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS)

PRODUCT_BUNDLE_IDENTIFIER = com.example.GodotRealityKit
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
SKIP_INSTALL = NO
STRING_CATALOG_GENERATE_SYMBOLS = YES
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_INSTALL_OBJC_HEADER = YES
SWIFT_VERSION = 6.0
TARGETED_DEVICE_FAMILY = 7

GDRK_FOLDER = $GDRK_PLATFORM$GDRK_TARGET
GDRK_PLATFORM =
GDRK_PLATFORM[sdk=macosx*] = macos
GDRK_PLATFORM[sdk=xr*] = visionos
GDRK_TARGET[config=Debug] = .template_debug
GDRK_TARGET[config=Release] = .template_release

SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone
